DATABASE_URL="postgresql://postgres:postgres@localhost:5432/niazat?schema=public"

JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="30d"

APP_PORT=3001
APP_URL="http://localhost:3001"
WEB_URL="http://localhost:3000"

OTP_TTL_SECONDS=120
PAYMENT_GATEWAY_DRIVER="mock"
SMS_DRIVER="mock"
